.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f8e4;
}

.header img {
    width: 25px;
}

.navItem img {
    margin: 0 0.8em;
}